@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

body {
  background: #4F5D75;
  margin-top: 2rem;
}

html {
  font-size: 14px;
  background-color: #E5EAFA;
}

.section {
  background-color: #6B7C9A;
  margin-top: 2rem;
}

.level {
  font-size: 18px;
}

@media (max-width: 768px) {
  html, .level {
    font-size: 12px;
  }
}

nav {
  height: 10rem;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.container {
  max-width: 960px;
  margin-bottom: 2rem;
  max-height: 100vh;
}

.large-font {
  font-size: 30px;
}

.plane-img {
  border: 1px solid #dddddd;
  margin-left: 100px;
  margin-top: 20px;
  width: 400px;
}

.plane-info {
  margin-top: 50px;
}

.title {
  margin-bottom: 10px;
}

a {
  color: #F2F3F6;
  text-transform: uppercase;
}

a:hover {
  color: #FFFFFF;
}

.footer-name {
  color:#4F5D75;
}
