.media {
  margin-left: 150px;
  max-width: 70%;
}

body {
  background: #fafafa;
  margin-top: 5rem;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  max-width: 220px;
}

.plane-img {
  border: 1px solid #dddddd;
  margin-left: 100px;
  margin-top: 20px;
  width: 400px;
}

.plane-info {
  margin-top: 50px;
}
