{% extends "layout.html" %}
{% block content %}
{% for post in posts %}
<section class="section">
  <div class="container">
    <a href=""><h2 class="title">Section</h1></a>
    <h3 class="subtitle">
      {{post.content}}
    </h2>
  </div>
</section>
{% endfor %}

          {% for flight in flights %}
          {% endfor %}

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Aviation Blog</strong> by <a href="https://www.github.com/fezzzle" class="footer-name">Martin Paju</a> <br>
      <strong>Using Opensky API and plane database</strong> <a href="https://opensky-network.org/"class="footer-name">OpenSky</a>
    </p>
  </div>
</footer>
          
{% endblock content %}