<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <script src="{{ url_for('static', filename='mapbox-gl.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mapbox-gl.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
  </head>
  <body>
    <div class="container header">
      <nav class="level">
        <p class="level-item has-text-centered">
            <a href="{{  url_for('home') }}">Home</a>
        </p>
        <p class="level-item has-text-centered">
            <a href="{{  url_for('aviation') }}">Current aircrafts</a>
        </p>
        <p class="level-item has-text-centered large-font">
            <a href="#">AVIATION</a>
        </p>
        <p class="level-item has-text-centered">
            <a href="{{  url_for('get_map') }}">Map</a>
          </p>
          <p class="level-item has-text-centered">
            <a href="{{  url_for('about') }}">About</a>
        </p>
      </nav>
    </div>
    {% block content %}{% endblock %}
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Aviation Blog</strong> by <a href="https://www.github.com/fezzzle" class="footer-name">Martin Paju</a> <br>
          <strong>Using Opensky API and plane database</strong> <a href="https://opensky-network.org/"class="footer-name">OpenSky</a>
        </p>
      </div>
    </footer>
  </body>
  </html>
  