<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <script src="{{ url_for('static', filename='mapbox-gl.js') }}"></script>
    
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4">Aviation Blog</a>
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{  url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{  url_for('aviation') }}">Current aircrafts</a>
              <a class="nav-item nav-link" href="{{  url_for('get_map') }}">Map</a>
            </div>
            <div class="navbar-nav">
              <!-- <a class="nav-item nav-link" href="#">Create Post</a> -->
              <!-- <a class="nav-item nav-link" href="#">Account</a> -->
              <!-- <a class="nav-item nav-link" href="#">Logout</a> -->
              <!-- <a class="nav-item nav-link" href="#">Login</a> -->
              <!-- <a class="nav-item nav-link" href="#">Register</a> -->
            </div>
          </div>
        </div>
      </nav>
    </header>
    {% block content %}{% endblock %}
    </body>
  </html>
  