{% extends "layout.html" %}
{% block content %}
<div role="main" class="container main">
  <div class="columns is-centered">
    <div class="column is-full">
      <h1>Current aircrafts in Estonia's Airspace:</h1>
      <table class="table">
          <thead>
              <tr>
              <th>#</th>
              <th>Aircraft</th>
              <th>Model</th>
              <th>Airline</th>
              <th>Altitude(m)</th>
              <th>Speed(kph)</th>
              <th>Registration</th>
              <th>Last seen</th>
              </tr>
          </thead>
          <tbody>
              {% for flight in flights %}
                  <tr>
                  <th>{{ loop.index }}</th>
                  <td>{{ flight.manufacturername }}</td>
                  <td>{{ flight.model }}</td>
                  {% if flight.owner == "" %}
                  <td>{{ flight.operator }}</td>
                  {% else %}
                  <td>{{ flight.owner }}</td>
                  {% endif %}
                  {% if flight.on_ground == True %}
                  <td>{{ 0 }}</td>
                  {% else %} 
                  <td>{{ (flight.baro_altitude)|round|int }}</td> 
                  {% endif %}
                  <td>{{ (flight.velocity * 3.6)|round|int }}</td>
                  <td><a href="{{  url_for('plane', registration=flight.registration) }}">{{ flight.registration }}</a></td>
                  <td>None</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
      <h1>Current aircrafts that does not exist in OpenSky database:</h1>
      <table class="table">
        <thead>
            <tr>
            <th>#</th>
            <th>icao24</th>
            <th>Altitude(m)</th>
            <th>Speed(kph)</th>
            </tr>
        </thead>
        <tbody>
          {% for not_in_db in planes_not_in_db %}
          <tr>
            <th>{{ loop.index }}</th>
            <td>{{ not_in_db.icao24 }}</td>
            {% if not_in_db.on_ground == True %}
            <td>{{ 0 }}</td>
            {% else %} 
            <td>{{ (not_in_db.baro_altitude)|round|int }}</td> 
            {% endif %}
            <td>{{ (not_in_db.velocity * 3.6)|round|int }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock content %}